<%- model_class = Slider -%>
<div id="content">
  <%= render 'admin-shared/header'%>
  <div class="container-fluid">
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold"><%=t model_class.human_attribute_name(:model_name) %></p>
        </div>
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
              <%= render :partial => 'form' %>
            </div>
        </div>
    </div>
</div>
</div>