<div class="container-fluid header2-bgimage header2-section-space" style="background-image: url(<%= WebsiteConfig.get('homepage-cover', current_locale) %>)">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 header2-div">
        <h1>Save the Kindness</h1>
        <p>Donec varius sodales orci. Class aptent taciti sociosqu torquent, per inceptos himenaeos.  Aenean arcu viverra varius sodales..</p>
        <a href="#fadeandscale" class="btn header-btn fadeandscale_open">Donate Now</a>
      </div>
      <div class="col-md-6 col-sm-6">
        
      </div>
    </div>
  </div>
</div>