<section class="section-padding section-2-bg mt-50 header-bg">
  <div class="container">
    <div class="heading-div text-center heading-title">
      <h2><%= @post.title(current_locale)%></h2>
    </div>
  </div>
</section>
<section class="section-padding section-1-bg" id="blog">
  <div class="container">
    <div class="row">					
      <div class="col-sm-12 blog-img">
        <img src="<%= arabic? ? @post.image_url : @post.en_image_url %>" alt="<%= @post.title(current_locale)%>" />
        <br/><br/>
        <%= @post.content(current_locale) %>
			</div>
		</div>
	</div>
</section>