<%- model_class = WebsiteConfig -%>
<div class="page-header">
  <h3><%= link_to '<i class="icon-line-arrow-right"></i>'.html_safe, admin_website_configs_path %> <%= @title %></h3>
</div>
<%= render :partial => 'form' %>
