body,h1,h2,h3,h4,h5,a,p{
  font-family: 'Al-Jazeera-Arabic Regular', regular !important;
  font-size: 16px;
}

h1 {
  font-size: 50px;
} 

h2 {
    font-size: 40px;
}   

h3 {
    font-size: 20px;
} 

.navbar-default .navbar-nav > li > a{
  font-size: 16px;
}

.navbar-right, .navbar-toggle{
  float: left !important;
}

.logo-image, .navbar-nav>li{
  float: right !important;
}

.blog-date{
  padding-right: 0;
}

@media (min-width: 1025px){
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9{
  float: right !important;
}
}

.navbar-toggle{
  margin-left: 15px;
  margin-right: 0;
}

.search{
  margin-left: 100px !important;
  left: 0;
}